body
{
  text-align: center;
font-family: 'Luckiest Guy', cursive;
color: #4d004d;
background-color: #ffffcc;
}
h1
{

font-size: 5rem;

}
.diceFirst
{
  font-size: 2rem;
display: inline-block;
margin-right: 200px;
}
.diceSecond
{
font-size: 2rem;
display: inline-block;
}
